.btn {
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color:transparent ;
}

.btn-selected {
    background-color: #abacad;
    /* or any color you want */
}